<div ng-controller="View1Ctrl as vm">
  <div class="row" style="padding-bottom: 3px;">
    <div class="col-xs-6 text-center">
      <p>Upload Your Event Spreadsheet</p>
      <input type="file" class="form-control" accept=".xls,.xlsx,.ods" fileread opts="vm.gridOptions" multiple="false" /></input>
    </div>
    <div class="col-xs-6 text-center">
      <a href="Campus-Events-Spreadsheet.xlsx" download>Download the Spreadsheet</a>
    </div>
  </div>
</div>
<div style="border-top: 2px solid black;"></div>
<img id="campusmap"  src="images/campus-map.png" border="0" width="100%" height="100%" orgWidth="1000" orgHeight="756" usemap="#campus-map" />
<map name="campus-map" id="campusmap">
  <area id="buildingb" href="javascript:void(0)" shape="rect" coords="379,329,429,379" style="outline:none;" target="_self"     />
  <area id="buildingc" href="javascript:void(0)" shape="rect" coords="336,377,386,427" style="outline:none;" target="_self"     />
  <area id="buildinge" href="javascript:void(0)" shape="rect" coords="372,436,422,486" style="outline:none;" target="_self"     />
  <area id="buildingl" href="javascript:void(0)" shape="rect" coords="434,419,484,469" style="outline:none;" target="_self"     />
  <area id="buildingh" href="javascript:void(0)" shape="rect" coords="480,367,530,417" style="outline:none;" target="_self"     />
  <area id="buildinga" href="javascript:void(0)" shape="rect" coords="612,382,672,432" style="outline:none;" target="_self"     />
  <area id="buildingi" href="javascript:void(0)" shape="rect" coords="553,574,574,624" style="outline:none;" target="_self"     />
  <area id="buildingf" href="javascript:void(0)" shape="rect" coords="683,555,733,595" style="outline:none;" target="_self"     />
  <area id="buildingd" href="javascript:void(0)" shape="rect" coords="757,407,807,447" style="outline:none;" target="_self"     />
  <area id="buildingp" href="javascript:void(0)" shape="rect" coords="714,372,764,412" style="outline:none;" target="_self"     />
  <area id="building1000" href="javascript:void(0)" shape="rect" coords="228,405,285,437" style="outline:none;" target="_self"     />
  <area id="building3000" href="javascript:void(0)" shape="rect" coords="149,407,206,432" style="outline:none;" target="_self"     />
  <area id="building2000" href="javascript:void(0)" shape="rect" coords="158,358,215,383" style="outline:none;" target="_self"     />
  <area id="parkingdeck" href="javascript:void(0)" shape="rect" coords="675,297,732,322" style="outline:none;" target="_self"     />
  <area id="buildingg" href="javascript:void(0)" shape="rect" coords="558,138,615,163" style="outline:none;" target="_self"     />
  <area shape="rect" coords="998,754,1000,756" style="outline:none;" title="Image Map" href="javascript:void(0)" />
</map>

<script type="text/ng-template" id="modal.html">
  <div ng-show="showPicModal==false">
    <div class="modal-header">
      <h3 class="modal-title text-center">{{selectedBuilding.name}} <i class="icon ion-close-round pull-right" ng-click="cancel()"></i></h3>
    </div>
    <div class="modal-body">
    <div ng-if="hasPictures">
      <carousel3d ng-model="slides" options="options" on-selected-click="selectedClick(index)">
      <carousel3d-slide ng-repeat="slide in slides track by $index">
          <figure>
              <img ng-src="{{slide.src}}" alt=""/>
              <figcaption ng-bind="slide.caption"></figcaption>
          </figure>
      </carousel3d-slide>
      </carousel3d>
    </div>
      <div id="menu">
        <div class="panel list-group">
          <a data-toggle="collapse" data-target="#sm" data-parent="#menu" class="item item-icon-right" style="text-decoration:none">
          Administrative Offices <span class="badge">{{numAdministrativeServices}}</span>
          <i class="icon ion-chevron-down"></i>
          </a>
          <div id="sm" class="sublinks collapse">
            <div ng-repeat="administrativeService in selectedBuilding.administrativeServices">
              <div class="list-group-item small">{{administrativeService}}</div>
            </div>
          </div>
          <a data-toggle="collapse" data-target="#sm2" data-parent="#menu" class="item item-icon-right" style="text-decoration:none">
          Food Services <span class="badge">{{numFoodServices}}</span>
          <i class="icon ion-chevron-down"></i>
          </a>
          <div id="sm2" class="sublinks collapse">
            <div ng-repeat="foodService in selectedBuilding.foodServices">
              <div class="list-group-item small">{{foodService}}</div>
            </div>
          </div>
          <a data-toggle="collapse" data-target="#sm3" data-parent="#menu" class="item item-icon-right" style="text-decoration:none">
          Additional Services <span class="badge">{{numAdditionalServices}}</span>
          <i class="icon ion-chevron-down"></i>
          </a>
          <div id="sm3" class="sublinks collapse">
            <div ng-repeat="additionalService in selectedBuilding.additionalServices">
              <div class="list-group-item small">{{additionalService}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
  </div>
  <div ng-show="showPicModal==true">
    <div class="modal-header">
      <div class="modal-title">
        <h3 class="modal-title text-center">{{selectedPicture.caption}} <i class="icon ion-chevron-left pull-left" ng-click="showPicModal=false"></i></h3>
      </div>
    </div>
    <div class="modal-body">
      <img ng-src="{{selectedPicture.src}}" class="img-thumbnail">
    </div>
    <div class="modal-footer"></div>
  </div>
</script>